.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
        min-width: 320px;
    }

    // max-width: 767px;


    // @include only_mobile {
    //     min-width: 321px;
    // }

    @include tablet {
        max-width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }

    @include desktop {
        max-width: 1280px;
    }
}