// Обнуление стилей
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  // width: 100%;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}