:root {
    --bg-main-color: #ffffff;
    --bg-footer-color: #f7f7f7;
    --hover-color: #FF6B08;
    --first-text-color: #545454;

    --btn-text-color: #000000;
    --btn-disable-text-color: #00000050;
    --btn-disable-bg-color: #f7f7f7;

    // .bgr_night {
    //     --bgBasic: #1f1f1f;
    //     --btn-text-color: #ffffff;
    //     --btn-disable-text-color: #f7f7f7;
    //     --btn-disable-bg-color: #40000050;
    //     --footer-bg: #400000;
    //     --first-text-color: #ffffff;
    // }

}