<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">&#169 2022</li>
            <li class="footer__item">All Rights Reserved</li>
            <li class="footer__item">Developed with
                <img class="footer__heart" src="./images/icons/heart.svg" alt="heart beat" width="13" height="14px" />
                <span>by</span>
                <button aria-label="button about team" class="footer__team-open-btn" data-team-open>
                    GoITStudents</button>
            </li>


        </ul>
    </div>
</footer>