<header class="header header--lib">
    <div class="container header__conrainer">

        <nav>
            <a href="./index.html" class="header__logo">
                <svg class="header__logo-svg">
                    <use href="./images/symbol-defs.svg#icon-film" width="24px" height="24px"></use>
                </svg>
                <span class="header__logo-name">Filmoteka</span>

            </a>

            <ul class="header__nav">
                <li class="header__nav-item">
                    <a class="header__nav-link" href="./index.html">HOME</a>
                <li class="header__nav-item">
                    <a class="header__nav-link header__nav-link--current" href="">MY LIBRARY</a>
                </li>


            </ul>
        </nav>
        <div class="botton-wrap">
            <button class='button button--lib-active'>Watched</button>
            <button class='button'>queue</button>
        </div>

    </div>


</header>