<!-- js auto generate template -->
<div class="is-hidden wrapper-modal-user">
  <div class="modal-user">
    <button type="button" class="modal-user__btn-close">
      <svg class="icon" width="14" height="14">
        <use xlink:href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="visually-hidden user-info"></div>
    <form class="modal-register">
      <legend class="modal-user__legend">
        Register and save your films anyway
      </legend>
      <label name="email-reg" class="modal-user__label">email</label>
      <input required type="email" name="email-reg" class="modal-user__input" />
      <label name="password-reg" class="modal-user__label">password</label>
      <input
        required
        type="password"
        name="password-reg"
        class="modal-user__input"
      />
      <button class="auth__button" name="btn-auth">authorize</button>
      <button class="register__button" name="btn-reg">register</button>
    </form>
    <div class="visually-hidden sign-out__wrap">
      <div class="account-info__block">
        <p class="account-info__email"></p>
        <p class="account-info__count-watched"></p>
        <p class="account-info__count-queue"></p>
      </div>
      <button class="sign-out__button">sign out</button>
    </div>
  </div>
</div>
