<!-- js auto generate template -->
<div class="is-hidden wrapper-modal-user">
  <div class="modal-user">
    <button type="button" class="modal-user__btn-close">
      <svg class="icon" width="14" height="14">
        <use xlink:href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="visually-hidden user-info"></div>
    <form action="submit" class="modal-register">
      <legend class="modal-user__legend">
        Register and save your films anyway
      </legend>
      <label name="email-reg" class="modal-user__label">email</label>
      <input required type="email" name="email-reg" class="modal-user__input" />
      <label name="password-reg" class="modal-user__label">password</label>
      <input
        required
        type="password"
        name="password-reg"
        class="modal-user__input"
      />
      <button class="register__button">register</button>
    </form>
    <form action="submit" class="visually-hidden modal-auth">
      <legend class="modal-user__legend">Authorize</legend>
      <label name="email-auth" class="modal-user__label">email</label>
      <input
        required
        type="email"
        name="email-auth"
        class="modal-user__input"
      />
      <label name="password-auth" class="modal-user__label">password</label>
      <input
        required
        type="password"
        name="password-auth"
        class="modal-user__input"
      />
      <button class="auth__button">authorize</button>
    </form>
  </div>
</div>
