<div class="container modal-movie__container">
  <img class="modal-movie__img" src="#" alt="" width="240" height="357" />
  <h2 class="modal-movie__title">A FISTFUL OF LEAD</h2>
  <ul>
    <li>
      <p>Vote / Votes</p>
      <p><span>7.3</span>/ 1260</p>
    </li>
    <li>
      <p>Popularity</p>
      <p>100.2</p>
    </li>
    <li>
      <p>Original Title</p>
      <p>A FISTFUL OF LEAD</p>
    </li>
    <li>
      <p>Genre</p>
      <p>Western</p>
    </li>
  </ul>
  <h3 class="modal-movie__about">About</h3>
  <p class="modal-movie__about-text">
    Four of the West’s most infamous outlaws assemble to steal a huge stash of
    gold from the most corrupt settlement of the gold rush towns. But not all
    goes to plan one is killed and the other three escapes with bags of gold
    hide out in the abandoned gold mine where they happen across another gang of
    three – who themselves were planning to hit the very same bank! As tensions
    rise, things go from bad to worse as they realise the bags of gold are
    filled with lead... they’ve been double crossed – but by who and how?
  </p>
  <button class="button" type="button">add to Watched</button>
  <button class="button" type="button">add to queue</button>
</div>
