<div class="modal-movie__backdrop is-hidden">
  <div class="modal-movie">
    <div class="modal-movie__container">
      <!-- <img class="modal-movie__img" src="#" alt="" width="240" height="357" />
      <div>
        <h2 class="modal-movie__title">A FISTFUL OF LEAD</h2>
        <ul class="modal-movie__list">
          <li class="modal-movie__item">
            <p class="modal-movie__item-categories">Vote / Votes</p>
            <p class="modal-movie__item-inf">
              <span class="modal-movie__item-vote">7.3</span> /
              <span class="modal-movie__item-votes">1260</span>
            </p>
          </li>
          <li class="modal-movie__item">
            <p class="modal-movie__item-categories">Popularity</p>
            <p class="modal-movie__item-inf">100.2</p>
          </li>
          <li class="modal-movie__item">
            <p class="modal-movie__item-categories">Original Title</p>
            <p class="modal-movie__item-inf modal-movie__item-inf--uppercase">
              A FISTFUL OF LEAD
            </p>
          </li>
          <li class="modal-movie__item">
            <p class="modal-movie__item-categories">Genre</p>
            <p class="modal-movie__item-inf">Western</p>
          </li>
        </ul>
        <h3 class="modal-movie__about">About</h3>
        <p class="modal-movie__about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="modal-movie__btn-section">
          <button
            class="modal-movie__btn modal-movie__btn--margin modal-movie__btn-watched"
            type="button"
          >
            add to Watched
          </button>
          <button class="modal-movie__btn modal-movie__btn-queue" type="button">
            add to queue
          </button>
        </div>
      </div> -->
    </div>
    <button type="button" class="modal-movie__btn-close">
      <svg class="icon" width="14" height="14">
        <use xlink:href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
