<section class="movie-popular">
    <div class="container">
        <h2 class='visually-hidden'>Movie list</h2>
        <ul class="movie-popular__list">

        </ul>
        <!-- спиннер -->
        <div class="spinner visually-hidden"></div>

        <a class="scroll-btn visually-hidden" title="Return to top" href="">
            <svg class="scroll-btn__svg" width="24px" height="24px" aria-label="Return to top">
                <use class="scroll-btn__img" href="./images/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
        </a>
    </div>
</section>