<section class="movie-popular movie-popular-lib">
  <div class="container">
    <h2 class="visually-hidden">Movie list</h2>
    <ul class="lib-list movie-list movie-popular__list"></ul>
  </div>
</section>

<section class="bacground-lib">
  <h2 class="visually-hidden">LIBRARY</h2>
  <!-- <img
    class="lib-message"
    src="/src/images/It's empty now..svg"
    alt="message It's empty"
  /> -->

  <div class="popkorn-container">
    <svg class="popkorn">
      <use href="/src/images/symbol-defs.svg#popkorn"></use>
    </svg>
  </div>
</section>