<div class="wrapper">
  <section class="container">
    <div class="slider">
      <!-- <button type="button" class="slick-prev"><svg class="">
        <use href="./images/symbol-defs.svg#icon-first" width="24px" height="24px"></use>
      </svg></button> -->
      <div class="slider__item"></div>
    </div>
    <!-- <button type="button" class="slick-next">
    <svg class="">
      <use href="./images/symbol-defs.svg#icon-last" width="24px" height="24px"></use>
    </svg>
  </button> -->
  </section>
</div>