.botton-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-main-color);
    margin-top: auto;
}

.button+.button {
    @include mobile {
        margin-left: 20px;
    }

    @include tablet {
        margin-left: 32px;
    }


    @include desktop {
        margin-left: 16px;
    }

}

.button {
    width: 130px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid var(--bg-main-color);
    font-size: 12px;
    text-transform: uppercase;

    @include tablet {
        width: 152px;
    }

    @include desktop {
        width: 148px;
        height: 42px;
    }
}

.button--lib-active {
    background: #FF6B01;
    border: #FF6B01
}