.botton-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-main-color);
  margin-top: auto;
  // margin-bottom: 20px;
}

.button+.button {
  @include mobile {
    margin-left: 20px;
  }

  @include tablet {
    margin-left: 32px;
  }

  @include desktop {
    margin-left: 16px;
  }
}

.button {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid var(--bg-main-color);
  font-size: 12px;
  text-transform: uppercase;

  @include tablet {
    width: 152px;
  }

  @include desktop {
    width: 148px;
    height: 42px;
  }
}

.button--lib-active {
  background: #ff6b01;
  border: #ff6b01;
}

.login__button {
  color: #ffffff;
  padding: 5px 10px;
  background: #ff6b01;
  border: #ff6b01;
  border-radius: 10px;
}

.modal-user__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.register__button {
  color: #ffffff;
  padding: 5px 10px;
  background-color: #ff6b01;
  border-radius: 10px;
}

.auth__button {
  color: #ff6b01;
  border: 2px #ff6b01 solid;
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.sign-out__button {
  margin: 10px;
  color: #ff6b01;
  border: 2px #ff6b01 solid;
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 10px;
}