.spinner {

    width: 100px;
    height: 100px;
    border: 15px solid var(--hover-color);
    border-top: 15px solid transparent;
    opacity: 0.5;
    border-radius: 50%;
    animation: rotate 1000ms infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}