.basicLightbox {
    overflow-y: scroll;
    
}

.basicLightbox__placeholder {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 280px;
    background-color: white;
    border-radius: 15px;
    @media screen and (min-width: 420px) and (max-width: 767px) {
        top: 5%;
        width: 360px;
    }

    @media screen and (min-width: 768px) {
        width: 480px;
        top: 5%;
    }

    @media screen and (min-width: 1024px) {
        width: 640px;
    }
}

.team-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    max-width: 600px;
    margin: 5px auto;
    margin-bottom: 10px;
    

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
         transition: 1s;
             &:hover {
             transform: scale(1.1);
             color:coral;
         }
}

.space {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
   
    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }
}

.team-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;

   

    flex-basis: calc((100% - 20px) / 2);

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 3);
    }

    @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 60px) / 4);
    }
}

.team-photo {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 40%;
    box-shadow: 5px 5px 11px -2px black;
    transition: 1s;
            &:hover {
            transform: scale(1.1);
        }
}

.team-name {
    margin-bottom: 5px;
    font-weight: 700;
}

.team-role {
     @media screen and (max-width: (768px - 1)) {
     font-size: 14px;
    }
    color: coral;
}


