body.light-theme {
   background-color: var(--light-theme-background-color);
   color: var(--dark-theme-background-color);
}

body.dark-theme {
   background-color: var(--dark-theme-background-color);
   color: var(--light-theme-background-color);
}

.toolbar {
   display: flex;
   justify-content: flex-end;
   padding: 16px 0px;
   margin-right: 30px;
   right: 16px;
   bottom: 10px;
}

body.dark-theme {
   .footer {
      background-color: #413e3e;
      color: var(--light-theme-background-color);
   }
}

/* THEME SWITCH */
.theme-switch {
   display: flex;
   align-items: center;
}

.theme-switch__icon {
   height: 32px;
   width: 32px;
   margin-right: 8px;
   margin-left: 8px;
}

.theme-switch__control {
   display: flex;
   align-items: center;
   flex-shrink: 0;
   position: relative;
   width: 60px;
   height: 20px;
   border-radius: 50em;
   padding: 3px 0;
}

.theme-switch__toggle {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   padding: 0;
   opacity: 0;
   height: 0;
   width: 0;
   pointer-events: none;
}

.theme-switch__track {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   color: transparent;
   background-color: #d3d3d4;
   border-radius: inherit;
   z-index: 1;
   cursor: pointer;
}

.theme-switch__marker {
   position: relative;
   background-color: #fff;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   z-index: 2;
   pointer-events: none;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
   transform: translateX(3px);
   transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
   background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
   transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track,
.theme-switch__toggle:hover + .theme-switch__track {
   box-shadow: 0 0 0 3px #ff6b01;
}

.vader {
   fill: red;
}

.stormtroopers {
   fill: #ffffff;
}
