.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--bg-footer-color);
    font-size: 16px;

    color: var(--first-text-color);

    @include only_mobile {
        font-size: 14px;

    }
}

.footer__list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-weight: 400;
}

.footer__item {
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid var(--first-text-color);


    &:last-child {
        border-right: none;

        @include only_mobile {
            margin-top: 10px;


        }
    }

}

.footer__item span {
    margin-right: 5px;
}

.footer__heart {
    color: var(--hover-color);
    animation: beat .400s infinite alternate;
    transform-origin: center;
    margin-left: 5px;
    margin-right: 5px;

}

@keyframes beat {
    to {
        transform: scale(1.5);
    }
}

.footer__team-open-btn {
    cursor: pointer;
    border-bottom: 1px solid;

    @include transition(color);


    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}