.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  position: relative;

  @include mobile {
    background-image: url(../images/bg/header_main_320px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
    padding-top: 40px;
    padding-bottom: 90px;

    @include retinaBgImg {
      background-image: url(../images/bg/header_main_320px@2x.jpg);
    }
  }

  @include tablet {
    background-image: url(../images/bg/header_main_768px.jpg);
    height: 216px;

    padding-bottom: 80px;

    @include retinaBgImg {
      background-image: url(../images/bg/header_main_768px@2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/bg/header_main_1280px.jpg);

    @include retinaBgImg {
      background-image: url(../images/bg/header_main_1280px@2x.jpg);
    }
  }
}

.header--lib {
  @include mobile {
    padding-bottom: 60px;
    background-image: url(../images/bg/header_lib_320px.jpg);

    @include retinaBgImg {
      background-image: url(../images/bg/header_lib_320px@2x.jpg);
    }
  }

  @include tablet {
    background-image: url(../images/bg/header_lib_768px.jpg);

    @include retinaBgImg {
      background-image: url(../images/bg/header_lib_768px@2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/bg/header_lib_1280px.jpg);

    @include retinaBgImg {
      background-image: url(../images/bg/header_lib_1280px@2x.jpg);
    }
  }
}

.header__conrainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__logo-svg {
  height: 24px;
  width: 24px;
}

.header__logo-name {
  @include only-mobile {
    font-size: 0;
  }

  font-size: 30px;
  color: var(--bg-main-color);
  margin-left: 10px;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-item+.header__nav-item {
  margin-left: 40px;
}

.header__nav-link {
  font-size: 12px;
  color: var(--bg-main-color);
}

.header__nav-link--current {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
  }
}

.header__form {

  width: 320px;
  display: flex;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.5px solid var(--bg-main-color);

  @include only_mobile {
    width: 100%;
  }

  @include tablet {
    width: 336px;
  }

  @include desktop {
    width: 394px;
  }
}

.header__form input {
  width: inherit;
  background-color: transparent;
  border: none;
  outline: none;

  font-size: 14px;
  color: var(--bg-main-color);
}

.search-svg {
  fill: var(--bg-main-color);
}

.filter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding: 0 5px;
}

.filter__form-select {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid var(--bg-main-color);
  border-radius: 15px;
  color: var(--hover-color);
  font-size: 14px;
  text-align: center;
}

#yearForm {
  width: 65px;
}

.filter__form-select>option {
  align-items: center;
  background-color: var(--btn-text-color);
  padding: 5px;
}

.button__reset {
  width: 70px;
  background-color: transparent;
  border: 1px solid var(--bg-main-color);
  border-radius: 15px;

  font-size: 14px;
  color: var(--hover-color);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--btn-text-color);
  }
}