.bacground-lib {
  margin-top: 5px;
  background-image: url(/src/images/bg/lib_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}

.lib-message {
  margin: auto;
}

.non-display {
  display: none;
}
