// .bacground-lib {
//   margin-top: 5px;
//   background-image: url(/src/images/bg/lib_bg.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   min-height: 70vh;
// }

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.lib-message {
  margin: auto;
}

.non-display {
  display: none;
}

.popkorn {
  margin: 0 auto;
  fill: #fff;
  width: 300px;
  height: 150px;
}

.popkorn-container {
  margin: 0 auto;
  width: 300px;
  height: 150px;
}
