//* Юлка контейнер
.movie-popular__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0px;

    cursor: pointer;

    @include tablet {
        justify-content: space-between;
        margin-top: -32px;
        gap: 32px;

    }

    @include desktop {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 32px 16px;
        list-style: none;
    }

}




//* карточка лішки
.movie-popular__item{
    width: 100%;

    @include tablet {
        width: calc(50% - 16px);
    }

    @include desktop {
        width: calc(33.3333% - 16px);
    }
}

//* картинка
.movie-popular__img {
    height: 398px;
    width: 100%;
    border-radius: 5px;

    @include tablet {
        height: 455px;
    }

    @include desktop {
        height: 574px;
    }

}




//* h2-назва фільму
.movie-popular__title{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

color: #000000;
}

//* p-жанри
.movie-popular__genre{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;


    color: #FF6B08;
}

//* Підппис що картинки не знайдені
.movie-popular__nofind{
    font-weight: 900px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: red
}

//* рейтинг
.movie-popular__rating {
    width: 40px;
    height: 20px;
    background: #FF6B01;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    text-transform: uppercase;

    color: #FFFFFF;
}

//* на ссилки забрати маркер
.movie-popular__reference{
    text-decoration: none;
}

// * {
//     outline: 1px solid blue;
// }